h1 {
    margin: 0;
    margin-bottom: 20px;
}

.info {
    padding: 10px;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 15px;
}

.info-details {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.info-details img {
    width: 400px;
}

.error {
    display: flex;
    font-size: large;
}